body {
  font-size: 15px;
  text-align: center;
  font-family: 'Audiowide', cursive;
  background-size: cover;
}

#board {
  margin-top: 10px;
  width: 600px;
  height: auto;
  display: block;
}

.box {
  border: 1px solid black;
  height: 150px;
  width: 33%;
  padding-left: 0;
  padding-right: 0;
}

.box:hover {
  box-shadow: inset;
}

div .row {
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
}

.row1, .row2, .row3, .box {
  background-color: rgba(0,0,0,0);
}

.resetButton, footer {
  display: block;
  text-align: center;
  margin: 20px;
  padding: auto 50%;
}

.resetButton {
	background-color:#ebd700;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-weight:bold;
	padding:17px 31px;
}
.resetButton:hover {
	background-color:#ffed4a;
}

ul {
  list-style: none;
  max-width: 100%;
}

#x, #o {
  width: 100%;
  height: 150px;
}

#overlay {
   visibility: hidden;
   background-color: red;
   width: 50%;
   height: 50%;
   text-align:center;
   z-index: 1000;
}
