body {
  font-size: 15px;
  text-align: center;
}

#board {
  margin-top: 10px;
  width: 500px;
  height: auto;
  display: block;
}

.box {
  border: 1px solid black;
  height: 150px;
  width: 100%;
}

div .row {
  display: flex;
}

.row1, .row2, .row3 .box {
  background-color: #aaaaaa;
}

.resetButton {
  display: block;
  margin: 20px;
  padding: auto 50%;
}
