body {
  font-size: 15px;
  text-align: center;
  font-family: 'Audiowide', cursive;
}

#board {
  margin-top: 10px;
  width: 600px;
  height: auto;
  display: block;
}

.box {
  border: 1px solid black;
  height: 150px;
  width: 33%;
}

div .row {
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
}

.row1, .row2, .row3 .box {
  background-color: #aaaaaa;
}

.resetButton, ul {
  display: block;
  margin: 20px;
  padding: auto 50%;
}

ul {
  list-style: none;
}
